.events {
  @include content-padding-inline;

  margin-top: 120px;

  &__container {
    padding-top: 60px;
  }

  &__title {
    @extend %h-2;

    margin: 0 auto;
  }

  &__item {
    padding-bottom: 60px;

   &:last-child {
    padding: 0;
   }

    display: flex;
    flex-direction: column;
    margin: 0 auto;
  

    &-image {
      display: block;
      object-fit: cover;
      padding: 0;

      width: 100%;
      height: 356px;
    }

    &--label {
      @extend %main-text;

      padding-top: 20px;
      color: $main;
    }

    &--name {
      @extend %h-3;

      padding-top: 10px;
    }

    &--description {
      @extend %main-text;

      padding-top: 20px;
      padding-bottom: 30px;
    }
  }
}