.expositions {
  @include content-padding-inline;

  margin-top: 90px;

  &__container {
    padding-top: 60px;

    @include on-tablet {
    @include page-grid;
    gap:29px;
    padding-top: 70px;
      min-height: 200px;
  }
}

  &__title {
    @extend %h-2;

    margin: 0 auto;

    @include on-tablet {
      font-size: 40px;
    }
  }

  &__item {
    padding-bottom: 60px;

    display: flex;
    flex-direction: column;
    margin: 0 auto;
     height: 100%;

    &--image {
      display: block;
      object-fit: cover;
      padding: 0;

      width: 100%;
      height: 356px;

      @include on-tablet {
        height: 420px
      }
    }

    &--label {
      @extend %main-text;

      padding-top: 20px;
      color: $main;
    }

    &--name {
      @extend %h-3;

      padding-top: 10px;
    }

    &--description {
      @extend %main-text;

      padding-top: 20px;
      padding-bottom: 30px;
      flex-grow: 1;
    }

  }

  &--button-2{

    @include on-tablet {
      position: absolute;
      margin: 0;
      left: 519px;
      top:1171px;
      padding: 0;  

      width: 210px;
      height: 60px;
    
    }
  }

  &--button-1 {
    margin-top: 25px;
  }
}
