.header {
  position: relative;
  z-index: 2; 
  background-color: $background;


  &__container {
    @include content-padding-inline;
  }

  &__top-bar {
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include on-tablet {
      padding-bottom: 99px;
    }
  }

  &__logo {
    width: 100%;
    transition: 0.3s ease;

    &:hover {
      filter: brightness(0.8);
    }

    &-img {
      width: 123px;
      height: 40px;
      transition: 0.3s ease;
    }
  }

  // відступи задав у файлі icons.
  &__icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  //

  &__date-text {
    @extend %header-text;
  }

  &__title-text {
    @extend %h-1;

    padding-top: 10px;
    padding-bottom: 30px;
    margin: 0;

    @include on-tablet {
      font-size: 72px;
      padding-bottom: 20px;
      max-width: 569px;
      padding-top: 20px;
      height: auto;
    }
  }

  &__description-text {
    @extend %header-text;

    padding-bottom: 40px;

    @include on-tablet {
      max-width: 330px;
      padding-bottom: 48px;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 40px;

    @include on-tablet {
      padding-top: 70px;
    }

    &-img {
      width: 245px;
      height: 273px;
      object-fit: contain;

      @include on-tablet {
        width: 443px;
        height: 494px;
      }
    }
  }
}
