.icon {
   display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;


    &--menu {
    width: 25px;
    height: 20px;
    background-image: url('../images/header/header-bm-icon.png');
    }
    
    &--ua {
        width: 23px;
        height: 24px;
      background-image: url('../images/menu/ico-ua.png');
    }
    
    &--arrow {
      background-image: url('../images/menu/icon-arrow.png');
        width: 8px;
        height: 5px;
      padding-right: 30px;
      padding-left: 5px;
    }
    
    &--close {
        background-image: url('../images/menu/icon-close.png');
        width: 22px;
        height: 22px;
    }
  }
