.visit {
  margin-top: 90px;
  position: relative;
  width: 100%;
  height: 416px;
  background-color: $background;
 
  &__container {
  @include content-padding-inline;
   }

   &__title {
     @extend %h-1;
    margin: 0 ;
    padding-block: 50px 20px;
    font-size: 38px;
   }

  &__description {
     @extend %main-text;
     color: $white;
     padding-bottom: 40px;
  }
}