.visit {
  margin-top: 90px;
  position: relative;
  width: 100%;
  height: 416px;
  background-color: $background;

  @include on-tablet {
    margin-top: 100px;
    height: 515px
  }

  &__container {
    @include content-padding-inline;

    @include on-tablet {
      padding-left: 38px;
    }

    
  }

  &__title {
    @extend %h-1;

    margin: 0;
    padding-block: 50px 20px;
    font-size: 38px;

    @include on-tablet {
      padding-block: 80px 20px;
      font-size: 64px;
      max-width: 570px;
      max-height: 145px;
    }
  }

  &__description {
    @extend %main-text;

    color: $white;
    padding-bottom: 40px;
    
    @include on-tablet {
      padding-bottom: 60px;
    }
  }
}
